{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %} {% endblock %}
    <link rel="stylesheet" href="{% static 'general/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bfblog/css/venobox.css' %}">
    <link rel="stylesheet" href="{% static 'bfblog/css/highlight.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/fa_all.css' %}">
    <link rel="stylesheet" href="{% static 'bfblog/css/nes.min.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'bfblog/css/index.css' %}">
    <title>{% block title %}BF Paste{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'bfblog:index' %}">BF</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i style="color: #FDCE93" class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'bfblog:index' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bfpaste:index' %}">Paste</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="tagsMenu" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tags
                    </a>
                    <div class="dropdown-menu" aria-labelledby="tagsMenu">
                        {% for tag, count in tags.items %}
                            <a class="dropdown-item" href="{% url 'bfblog:index' %}?tag={{ tag.slug }}">{{ tag.name }} ({{ count  }})</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container mt-3 mb-3 content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="footer text-center mt-4 mb-4">
            <ul>
                <li><a target="_blank" href="https://github.com/bufgix"><i class="fab fa-github"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/bufgix"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
    </footer>

    <script src="{% static 'general/js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'general/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bfblog/js/venobox.min.js' %}"></script>
    <script src="{% static 'general/js/aos.js' %}"></script>
    <script src="{% static 'general/js/index.js' %}"></script>
    <script src="{% static 'bfblog/js/index.js' %}"></script>
    {% block js %}{% endblock %}
</body>

</html>