{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %} {% endblock %}
    <link rel="stylesheet" href="{% static 'general/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bfblog/css/venobox.css' %}">
    <link rel="stylesheet" href="{% static 'bfblog/css/highlight.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/fa_all.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'bfblog/css/index.css' %}">
    <title>{% block title %}BF Paste{% endblock %}</title>
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
            </div>
            <ul class="list-unstyled components">
                <p>Dummy Heading</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>

        <div class="container mt-3 mb-3 content">
            {% block content %}{% endblock %}
        </div>
    </div>



    <footer>
        <div class="footer text-center mt-4 mb-4">
            <ul>
                <li><a target="_blank" href="https://github.com/bufgix"><i class="fab fa-github"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/bufgix"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
    </footer>

    <script src="{% static 'general/js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'general/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bfblog/js/venobox.min.js' %}"></script>
    <script src="{% static 'general/js/aos.js' %}"></script>
    <script src="{% static 'general/js/index.js' %}"></script>
    <script src="{% static 'bfblog/js/index.js' %}"></script>
    {% block js %}{% endblock %}
</body>

</html>