{% extends "bfblog/base.html" %}
{% load markdownify %}

{% block content%}
<div data-aos="fade-up">
    <img class="img-fluid post-image" src="{{ post.banner_image.url }}" alt="{{ post.title }}" />
    <div class="blog-wrap mt-2">
        <div class="text-center">
            <h1 class="font-weight-bolder">{{ post.title }}</h1>
        </div>
        <div class="post-meta">
            <div class="d-flex justify-content-between">
                <div class="text-left">
                    <img style="image-rendering: pixelated;" class="img-fluid rounded-circle"
                        src="{{ post.author.user_image.url }}" alt="{{ post.author.username }}" height="50" width="50">
                    <p class="text-muted font-weight-bolder ml-1" style="display: inline">
                        {{ post.author.first_name | title }}</p>
                </div>
                <div class="text-right">
                    <p class="align-middle"><i class="far fa-clock"></i> <i>{{ post.created_on | date:'d-m-Y' }}</i></p>
                    <ul>
                        {% for tag in post.tags.all %}
                        <li><a class="white" href="{% url 'bfblog:index'%}?tag={{ tag.slug }}"><i
                                    class="fas fa-tag"></i> {{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="blog-content mb-4">
            <hr style="height: 5px" />
            {{ post.content | markdown | safe }}
            <hr>
            <div class="content-footer d-flex justify-content-end">
                <p class="text-muted"><i class="far fa-clock"></i> <i>{{ post.update_on | date:'d-m-Y' }}</i></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}