<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %} {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'general/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bfpaste/css/prim.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/fa_all.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'bfpaste/css/index.css' %}">
    <title>{% block title %}BF Paste{% endblock %}</title>
</head>
<body>
    <div class="container mt-5 mb-3">
        {% block content %}{% endblock %}
    </div>

 
    <script src="{% static 'general/js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'general/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bfpaste/js/prim.js' %}"></script>
    <script src="{% static 'general/js/aos.js' %}"></script>
    <script src="{% static 'general/js/index.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>