{% extends "bfpaste/base.html" %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8">
                {{ form.author.label_tag }}
                {{ form.author }}
            </div>
            <div class="col-md-4">
                <div class="nes-select is-dark">
                    {{ form.lang.label_tag }}
                    {{ form.lang }}
                </div>
            </div>
        </div>
        <div class="mt-2">
            {{ form.content.label_tag }}
            {{ form.content }}
        </div>
        <button type="submit" class="nes-btn">Paste!</button>
    </form>
{% endblock %}