body {
    color: #CCCCCC;
    background-color: #1E1E1E;
}

#particles-js {
    position: relative;
    width: 100%;
    height: 350px;
    z-index: -1;
}
.sp-wrapper {
    background-color: #1E1E1E;
    position: absolute;
    bottom: 0;
    width: 100%;
}
svg {
    display: inline-block;
    vertical-align: bottom;
}

.deep {
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.highlight {
    background-color: #272822;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.blog-content {
    word-break: break-all;
    white-space: normal;
}

pre {
    color: #CCCCCC
}

hr {
    height: 8px;
    background-image: linear-gradient(90deg, #CCCCCC, transparent);
    border: 0;
    height: 1px;
}

code {
    background-color: #2E3A50;
    border-radius: 5px;
    color: #CCCCCC;
    padding: 3px
}

.post-meta {
    list-style-type: none;
    padding-left: 0;
}

.post-meta li {
    display: inline;
    padding-right: 10px;
}

.consolas {
    font-family: monospace;
}

a {
    color: #FDCE93;
}

a:hover {
    color: #FDCE93;
    opacity: 0.8;
}

pre::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    background-color: #343A40;
}

pre::-webkit-scrollbar {
    width: 5px;
    background-color: #343A40;
}

pre::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ADADAD;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(30, 30, 30);
    background-color: rgba(30, 30, 30, 0.9);
    overflow-x: hidden;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #CCCCCC;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media (max-width: 767px) {
    #particles-js {
        height: 150px;
    }
}